/* --- Стили для списка заготовок (и материалов, т.к. классы общие) --- */

/* --- Стили для элементов управления в списке --- */

.item-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-edit-part {
    font-size: 1.2rem;
    /* Делаем иконку редактирования чуть меньше */
    font-weight: bold;
}