/* --- Стили для списка заготовок (и материалов, т.к. классы общие) --- */

.empty-list-message {
    color: #888;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px dashed #ddd;
}

/* Стили для списка заготовок */
.list-item-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--surface-color);
    padding: 10px 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    border-left: 4px solid var(--primary-color);
}

.list-item-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.item-details {
    display: flex;
    gap: 20px;
    color: #555;
    min-width: 220px; /* Для красивого выравнивания */
}

/* --- Стили для элементов управления в списке --- */

.item-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-edit-part {
    font-size: 1.2rem;
    /* Делаем иконку редактирования чуть меньше */
    font-weight: bold;
}